@model WebShop.Models.Entities.FilterCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FilterCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryOf.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryOf.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilterNameOf.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilterNameOf.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilterValueOf.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilterValueOf.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
