<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/custom/autoCompleteData.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Shop by Category", "Index", "Categories")</li>
                    <li>@Html.ActionLink("View all our Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Manage Images", "Index", "ProductImages")</li>
                </ul>
                @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                <div class="form-group">
                    @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search Products", @autocomplete="off" })
                    <div class="autoCompleteData" id="autoCompleteData" name="autoCompleteData"></div>
                </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {

            $("#search").on('keyup', function () {
                var text = $("#search").val();
                var numChar = text.length;
                var divAuto = $("#autoCompleteData");
                if (numChar >= 2) {
                    var urlSearch = '/Products/SearchAutocomplete/' + text;
                    $.ajax({
                        url: urlSearch,
                        type: "GET",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var p = data.products;
                            if (p.length > 0) {
                                divAuto.show();
                                var result = "<ul>";
                                for (var i = 0; i < p.length; i++) {
                                    result += "<li><a href='#'>" + p[i].Name + "</a></li>";
                                }
                                result += "</ul>";
                                divAuto.html(result);
                            }
                            else {
                                divAuto.hide();
                            }
                            //console.log(data.products.length);
                        }
                    });
                    //console.log(text);
                }
                else {
                    divAuto.hide();
                }
            });

        }); 
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
