
@{
    ViewBag.Title = "Add";
    string path = Url.Content(WebShop.Constants.ProductImagePath);
}
@section styles {
    <link href="~/Content/cropper/cropper.min.css" rel="stylesheet" />
    <link href="~/Content/cropper/main.css" rel="stylesheet" />
    <style>
        .plusupload {
            cursor: pointer;
        }
    </style>
}
<h2>Загрузка фоток на сайт</h2>
<input type="file" name="img_file" id="img_file" class="hide" />


<div class="row" id="listUploadImages">

    <div class="col-md-2 plusupload" id="containerimage1" data-counter="1">
        <div class="thumbnail">
            <i class="fa fa-times fa-2x icon-delete" aria-hidden="true" id="del1"></i>
            <img src="@(path+"_default.png")" class="uploadimage" alt="Lights" style="width:100%">
            <div class="caption"><p>Add New Image</p></div>
        </div>
    </div>

</div>
@using (Html.BeginForm("Add", "ProductImages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Hidden("ImageBase64")
}

@Html.Partial("_ImageCropper")
@Html.Partial("_ProgressLoader")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/cropper/cropper.min.js"></script>
    <script src="~/Scripts/product/cropper/scripts.js"></script>

    <script>

        var PathImage = "@(path+"_default.png")";
    </script>
}



